/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Montserrat";
  src: url("./assets/Montserrat-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  --brand-background-primary: #e70c2c;
  --brand-background-secondary: #ad0921;
  --button-background-dark: #b1d300;
  --button-background-light: #bfe401;
  --brand-black: #000000;
  --white: #ffffff;
  --text-color: #4a4a4a;
}

body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text-color);
  min-height: 100vh;
}
